ul {
  margin: 0;
  list-style-type: none
}
i.me-2.text-primary.fa.fa-filter, i.me-2.text-favourite.fa.fa-star{
    color: teal !important
}
// Menubar
.dropdown-toggle, .o_menu_brand, .o_menu_systray > * > a, .o_menu_systray > * > .dropdown > a, .o_menu_systray > * > button,.dropdown-item {
    color :#000 !important;
}
.o_main_navbar {
  --o-navbar-height: 46px;
  display: -webkit-box;
  display: -webkit-flex;
  padding-top :15px;
  display: flex;
  height : 60px;
  color: #fff !important;
  min-width: min-content;
  border-bottom: transparent;
  background: darkred !important;
}
.o_main_navbar .o_menu_brand {
    font-size: 24px;
    padding-left: 30px;
    color : #fff !important;
}
.o_main_navbar .o_menu_systray .badge, .o_main_navbar .o_menu_systray > * > .dropdown > a .badge{
  color :#fff !important;
  background : teal;
}
.o_main_navbar .dropdown.show > .dropdown-toggle, .o_main_navbar .dropdown.show > .dropdown-toggle:hover, .o_main_navbar .dropdown.show > .dropdown-toggle{
    color:black  !important
}
.o_main_navbar .o_menu_sections .dropdown.show > .dropdown-toggle {
//     border-color: var(--NavBar-entry-borderColor-active, transparent);
    background: wheat !important;
    color: var(--NavBar-entry-color--active, unset);
}
.o_main_navbar .o_menu_sections .o_nav_entry:hover, .o_main_navbar .o_menu_sections .dropdown-toggle:hover{
    background: wheat !important;
    color:black !important;
}
.text-truncate{
    color: darkred;
}
.o_main_navbar .o_nav_entry, .o_main_navbar .dropdown-toggle, .o_main_navbar .o_menu_brand, .o_main_navbar .o_menu_systray > * > a, .o_main_navbar .o_menu_systray > * > .dropdown > a, .o_main_navbar .o_menu_systray > * > button, .o_main_navbar .o_menu_systray > * > label{
    color:#fff !important
}
.o_main_navbar .o_menu_sections .o_nav_entry, .o_main_navbar .o_menu_sections .dropdown-toggle {
    background: var(--NavBar-entry-backgroundColor, darkred);
    border: 1px solid transparent;
}
// Button
.btn-fill-primary, .btn-primary{
    background-color: teal;
    border-color: teal;
    color: #fff !important;
}
.btn-secondary{
    color: #717375 ;
}
.btn-fill-odoo, .btn-odoo {
    color: #FFFFFF;
    background-color: #4b6796;
    border-color: #4b6796;
}
.o_button_icon {
   color : teal
}

// List View
.o_list_view .o_list_renderer{
    padding-top:20px;
}
.table-sm th, .table-sm td {
    padding: 0.5rem;
}
tr.o_data_row:hover {
    background:#e5ecff;
    color:black
}
tr.o_data_row {
    font-size: 13px;
}
.o_list_view .table-responsive .table thead tr:nth-child(1) th {
    position: sticky;
    top: 0;
//     z-index: 999;
    background-color: #ffffff !important;
}
th.o_list_record_selector {
    color: #495057 !important;
    border-color: #eff2f7 !important;
    background-color: #f8f9fa !important;
}
.table>:not(caption)>*>* {
    padding: 1rem 1rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    -webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.o_list_view .o_list_table thead > tr > th:not(.o_list_record_selector).o_list_number_th {
    text-align: left !important;
}
.o_list_view .o_list_table thead > tr > th:not(.o_list_record_selector) {
    border-left: none !important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: none;
}
.table th {
    border-top: 1px solid #fff !important;
    font-size: 15px;
}
.o_list_view .o_list_table tfoot {
    background-color: #fff !important;
}
.o_list_view .table-responsive .o_list_table tfoot tr:nth-child(1) td {
    background-color: #fff !important;
}
.o_list_view .o_list_table tr:focus-within,
.o_list_view .o_list_table.table-striped tr:focus-within {
    background-color: #fff !important;
}

// Search view
.o_searchview {
    border: 1px solid #ddd;
    padding-left: 12px;
    padding-right: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    padding-top: 6px;
}
.o_searchview .o_searchview_icon {
    position: absolute;
    top: 11px;
    left: auto;
    bottom: auto;
    right: 8px;
}
.o_searchview .o_searchview_autocomplete li.o_selection_focus, .o_searchview .o_searchview_facet .o_searchview_facet_label {
    background-color: teal;
}

// Form View
.form-check-input:checked {
    background-color: darkred;
    border-color: darkred;
}
.o_required_modifier .o_input{
    background:linen;
}
.o_form_view .o_notebook{
    padding-top: 28px;
}
.o_notebook .nav-link.active, .o_notebook .nav-link.active:hover, .o_notebook .nav-link.active:focus, .o_notebook .nav-link.active:active {
    background: teal !important;
    font-weight: 500;
    font-size: 15px;
    border-bottom: none;
    color: #fff !important
}
.nav-link {
    color: rgba(73, 80, 87, 0.76) !important;
}
.o-form-buttonbox .btn.oe_stat_button > .o_stat_info .o_stat_value, .o-form-buttonbox .btn.oe_stat_button > span .o_stat_value, .o-form-buttonbox .btn.oe_stat_button > .o_field_statinfo,.o-form-buttonbox .btn.oe_stat_button > .o_stat_info, .o-form-buttonbox .btn.oe_stat_button > span {
    font-weight: 400;
    color: #1d1e21;
}
.o_form_view .o_form_statusbar {
    height: 53px;
    padding-left: 28px;
}
.o_field_statusbar > .o_statusbar_status{
    margin-top: 10px;
}
.o_control_panel .o_cp_top{
    margin-bottom: 10px;
    padding-left: 13px;
    margin-top: 10px;
}
.o_control_panel .o_cp_bottom_left{
    padding-left: 10px;
}
.fw-bolder{
    font-weight: 900 !important;
    color : brown;
    padding-bottom: 9px;
}
.o_form_view .o_horizontal_separator:not(:empty){
    border-bottom-color: cadetblue;
    border-bottom-style: double;
}
.o_control_panel .breadcrumb{
    font-size: 21px;
}
// Kanban View
.o_kanban_renderer .o_kanban_record .o_kanban_record_has_image_fill .o_kanban_image_fill_left {
    margin: 10px;
    border-radius: 44px;
}
.o_kanban_renderer .o_kanban_record > div{
    border-radius: 25px;
}
.o_kanban_renderer .oe_kanban_card .oe_kanban_details, .o_kanban_renderer .o_kanban_record .oe_kanban_details{
    margin-left: 10px;
    margin-top: 10px;
}


// Side Menubar panel
#sidebar_panel {
    height: calc(100% - 0%);
	position: fixed;
    background: #e6e6ed;
    display: none;
    width: 250px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    z-index: 999;
}
#sidebar_panel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.sidebar_panel .sidebar {
    padding: 0;
    white-space: normal;
    padding-bottom: 20px;
    padding-top: 5px;
}
.sidebar_panel .sidebar_close {
    text-align: end;
    display: none;
    position: sticky;
    height: 35px;
    padding-top: 5px;
    top: 0;
    background: #2a3042;
    z-index: 1;
}
.sidebar_panel .sidebar_close a#closeSidebar {
    font-size: 18px;
    margin-right: 10px;
    color: #ffffff;
    opacity: .3;
}
ul.sidebar_menu {
   padding-top: 10px;
}
.sidebar_margin{
    margin-left: 268px !important;
    transition: all 0.1s linear 0s;
}


// Responsive starts
@media (max-width:992px) {
    .o_action_manager{
        margin-left: 0px !important;

    }
    .o_action_manager.sidebar_margin {
        margin: 0 !important;
    }
    .sidebar_panel .sidebar {
        position: relative;
        padding-top: 0px !important;
    }
}
@media (max-width:480px) {
    html .o_web_client > .o_action_manager {
        overflow: auto !important;
    }
}